<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MMO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MMO_Server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MMO_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED62B83E188222A40046BD5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED744FFF1863BE3C008EB262</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED7450201863BE3C008EB262</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED91E673186FB326002A4638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
